# Version control
.git
.gitignore

# Python
__pycache__
*.py[cod]
*.pyc
.venv/
.venv
venv/

# Testing
.pytest_cache
.coverage
htmlcov/
.tox/

# IDE
.vscode/
.idea/

# Build artifacts
*.egg-info/
dist/
build/

# Docs
docs/
*.md
!README.md

# Docker
Dockerfile
docker-compose*.yml
.dockerignore

# Environment
.env
.env.*

# Logs
*.log
logs/




!.env.example
